h1{
        color:rgb(99, 99, 207)
      }
      h2{
        color: crimson;
        text-decoration: overline;
      }
      h1, h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      P{
        font-family: 'Courier New', Courier, monospace;
      }